* {
  box-sizing: border-box;
  outline: none;
  position: relative;
  font: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arimo, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a, .link {
  cursor: pointer;
  color: #1161de;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.text-bold {
  font-weight: bold;
}

.color-bad.color-bad {
  color: #e03434;
}

.color-gray.color-gray {
  color: #999999;
}

.text-090 {
  font-size: 0.875em;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.width-container {
  max-width: 360px;
  width: 100%;
  margin: auto;
}

.max-height-10 {
  max-height: 10rem;
  overflow-y: auto;
}

.max-height-15 {
  max-height: 15rem;
  overflow-y: auto;
}

/*.full-height {
  height: 100%;
  overflow-y: scroll;
}*/

.pad-025.pad-025 {
  padding: 0.25rem;
}

.pad-025-05.pad-025-05 {
  padding: 0.25rem 0.5rem;
}

.pad-0-05.pad-0-05 {
  padding: 0 0.5rem;
}

.pad-05.pad-05 {
  padding: 0.5rem;
}

.pad-1.pad-1 {
  padding: 1rem;
}

.mar-b-05.mar-b-05 {
  margin-bottom: 0.5rem;
}

.mar-b-1.mar-b-1 {
  margin-bottom: 1rem;
}

.block {
  display: block;
  width: 100%;
  max-width: 100%;
}

.bb {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}

.bv+.bv {
  border-top: 2px solid rgba(128, 128, 128, 0.2); 
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

button {
  background-color: rgba(128, 128, 128, 0.2);
  border: 2px solid rgba(128, 128, 128, 0.2);
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 0;
}

.chat-card[expanded="true"] {
  
}

.one-line {
  max-height: 1.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-preview-dot {
  background-color: #e03434;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
}

.message {
  margin: 0.125em;
  padding: 0.125em 0.75em;
  background-color: #fefefe;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0.25em;
}

.message[own="true"] {
  border-bottom-right-radius: 0;
  margin-left: 2em;
}

.message[own="false"] {
  margin-right: 2em;
  border-bottom-left-radius: 0;
}

.system-message {
  margin: 0.125em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 0;
  padding: 0.25rem;
}

.flex-stripe {
  display: flex;
  flex-direction: row;
}

.flex-pad-05 {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 1;
}

.modal-wrapper {
  position: fixed;
  display: block;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(180, 181, 183, 0.09);
  animation: backgroundfadein 0.2s;
  pointer-events: none;
}

@keyframes backgroundfadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.modal-wrapper>.modal {
  position: relative;
  margin: 1.5rem auto;
  width: 85%;
  max-width: 330px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
  border-radius: 0.25rem;
  animation: slidedown 0.3s;
  animation-timing-function: ease-in-out;
  pointer-events: all;
}

@keyframes slidedown {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0%);
  }
}

[display="false"][display="false"] {
  display: none;
}
